.app__register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__register-section {
  width: 400px;
  height: 500px;
  background-color: #efefef !important;
  border-radius: 20px;
  padding: 2rem;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}

.app__register-section p {
  text-align: center;
  text-transform: none;
  margin-top: 1rem;
}
.app__register-section h2 {
  text-align: center;
  color: #f55951;
  font-weight: 900;
}
.app__register-section form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}
input {
  height: 35px !important;
  padding: 0 0.5rem;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  /* padding: 1rem;  */
  margin: 0.3rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}
