.btnAction button {
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.btnAction button:hover {
  background-color: #ffff;
  transform: translateY(-5px);
}
.btnAction button p {
  text-transform: capitalize;
  color: #000;
  font-size: 13px;
}
