.app__header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 0 9rem;
  background: #141414;
  color: #767676;
  font-family: var(--font-base);
  font-size: 0.8rem !important;
}
.app__header p {
  cursor: pointer;
}
.logout {
  color: var(--color-secondary);
  font-weight: 900;
}
.app__header button {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}
@media screen and (max-width: 1200px) {
  .app__header {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 900px) {
  .app__header {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 550px) {
  .app__header {
    height: 35px;
    font-size: 0.6rem !important;
  }
}
