* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
}
.displayFlex {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  height: calc(100vh - 100px);
}

.section-padding {
  padding: 4rem 6rem;
}

.page-title {
  font-size: 1.5rem;
  font-family: var(--font-base);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.about-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.table {
  width: 100%;
  margin-block: 2rem;
}
.table thead {
  height: 50px;
  background-color: var(--color-secondary);
}
.table-column td {
  background-color: #000000c2;
  font-family: var(--font-alt);
  font-weight: 900;
  color: white;
}
.score {
  font-size: 14px;
  font-family: var(--font-alt);
  font-weight: 900;
  color: black;
}

.table th {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  padding: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  color: #efefef;
}

.table td {
  height: 35px;
  padding: 15px 0;
  overflow: hidden;
  white-space: nowrap;
  border-left: solid 1px #66666671;
  border-bottom: solid 1px #66666671;
  text-align: center;
}
.popup-delete {
  width: 450px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #efefef;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.popup-delete h2 {
  font-family: var(--font-base);
  color: #72141b;
}
.active {
  color: #72141b;
}
.btn {
  width: 100px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.384);
  border-radius: 8px;
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
  color: white;
}
.goBackBtn {
  /* width: 70px; */
  height: 36px;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
  color: white;
  gap: 0.2rem;
  background-color: var(--color-secondary);
}
.cancel-btn {
  background-color: #163e70;
}
.delete-btn {
  background-color: var(--color-secondary);
}
.second-btn {
  display: none !important;
}
.react-datepicker-wrapper {
  display: block !important;
}
.small-menu {
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-container {
  width: 100%;
  height: auto;
  flex-direction: column;
  /* background-color: red !important; */
}
.content-wrapper {
  flex: 1;
  display: flex;
  gap: 2rem;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #00000033;
  margin: 1rem 0;
}
@media screen and (max-width: 1000px) {
  .score-table td,
  .score-table th {
    max-width: 10px !important;
  }
}
@media screen and (max-width: 900px) {
  .page-title {
    font-size: 1.2rem;
  }
  .section-padding {
    padding: 3rem;
  }
  .table {
    overflow-x: hidden;
    font-size: 12px !important;
  }
  .popup-delete {
    width: 350px;
    height: 250px;
  }
  .popup-delete h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .app__addStudent form {
    flex-direction: column;
  }
  .second-btn {
    display: block !important;
  }
  .first-btn {
    display: none !important;
  }
  .react-datepicker-wrapper {
    display: block !important;
  }
  .table {
    overflow-x: hidden;
    font-size: 10px !important;
  }
  .score-table td,
  .score-table th {
    max-width: 10px !important;
  }
}
@media screen and (max-width: 550px) {
  .page-title,
  .about-title {
    font-size: 1rem;
  }
  .section-padding {
    padding: 3rem 1rem;
  }

  .table th,
  .table td {
    max-width: 50px;
  }
  .score-table td,
  .score-table th {
    max-width: 10px !important;
  }
  .popup-delete {
    width: 50%;
    height: auto;
    padding: 2rem 1rem;
  }
  .popup-delete h2 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .popup-delete .btn {
    width: auto;
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 10px;
  }
}
