@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "CustomFontFamily";
  src: url("./assets/fonts/Redwing-Medium.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Neue Display Random";
  src: url("https://db.onlinewebfonts.com/t/df6b8a408bc8b88138fd212d6085dca0.eot");
  src: url("https://db.onlinewebfonts.com/t/df6b8a408bc8b88138fd212d6085dca0.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/df6b8a408bc8b88138fd212d6085dca0.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/df6b8a408bc8b88138fd212d6085dca0.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/df6b8a408bc8b88138fd212d6085dca0.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/df6b8a408bc8b88138fd212d6085dca0.svg#Neue Display Random")
      format("svg");
}

:root {
  /* --font-base: "CustomFontFamily", serif; */

  --font-alt: "Open Sans", sans-serif;
  --font-title: "Cormorant Upright", serif;
  --font-base: "Neue Display Random";
  --color-primary: #72141b;
  /* --color-secondary: #163e70; */
  --color-secondary: #72141b;
  /* --color-secondary: #1d1a45; */
  --color-tertial: #77b4c7;
  --color-lightWhite: #f8f9fc;
  --color-bg: #e9e9e9;
  /* FFF0EC */
}
