.app__register {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.app__register-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  padding: 4rem;
  z-index: 4;
  background-color: #fceadb;
  animation: register-animation2 1s ease forwards;
}
.app__register-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.384);
  border-radius: 8px;
  outline: none;
  margin-top: 0.5rem;
}

.app__register-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: #f9dcc5;
  border-radius: 10px 0 0 10px;
  z-index: 10;
  transition: all 1s ease;
  animation: register-animation 1s ease forwards;
}
.app__register-content h2 {
  font-family: var(--font-base);
  font-size: 1.7rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.app__register-content h3 {
  font-family: var(--font-alt);
  font-size: 1.3rem;
  color: var(--color-lightWithe);
  margin-bottom: 2rem;
}
.google-btn {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background: #fceadb;
}
.app__register-content p {
  font-family: var(--font-alt);
  color: var(--color-lightWithe);
  margin-bottom: 0.5rem;
  color: #efefef70;
}
.app__register-content p span {
  font-family: var(--font-alt);
  color: #fff0ec;
  cursor: pointer;
}

.smallScreen-text {
  display: none;
}
@keyframes register-animation {
  0% {
    left: 30%;
  }
  100% {
    left: 0;
  }
}
@keyframes register-animation2 {
  0% {
    right: 30%;
  }
  100% {
    right: 0;
  }
}
@media screen and (max-width: 1260px) {
  .app__login-content h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 800px) {
  .app__register-content h2 {
    font-size: 1.2rem;
  }

  .app__register-content h3 {
    font-size: 1.3rem;
  }
  .google-btn {
    padding: 0.7rem;
    font-size: 10px;
  }
  .wrapper-role {
    width: 55%;
    height: 40px;
  }
  .role {
    font-size: 8px;
  }
}
@media screen and (max-width: 650px) {
  .app__login {
    flex-direction: column;
  }
  .app__register-content {
    display: none;
  }
  .app__register-form {
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
  }
  .app__register-form form {
    height: auto;
    margin-top: 2.2rem;
  }
  .input {
    width: 100%;
    padding: 0.5rem;

    margin-top: 0.5rem;
  }
  .smallScreen-text {
    text-align: center;
    margin-top: 1rem;
    display: block;
  }
}
