.navBar_menu {
  width: 100%;
  background-color: #212121;
  position: absolute;
  left: 0;
  top: calc(100% - 1.5rem);
  padding: 6rem 2rem;
  transition: all 0.4s ease;
}

.navBar_menu ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}
.menu-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--font-alt);
  color: var(--color-lightWhite);
  transition: all 0.3s ease;
}
.menu-link:hover {
  color: var(--color-secondary);
}
