.app__navBar {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  background: var(--color-lightWhite);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo {
  text-decoration: none;
}
.app__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.app__logo h4:nth-of-type(1) {
  font-size: 0.8rem;
  border-bottom: 2.5px solid black;
  /* color: #3e5ce0; */
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: black;
  font-family: var(--font-base);
  text-decoration: none;
}
.app__logo h4:nth-of-type(2) {
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 1.5rem;
  color: var(--color-secondary);
  /* padding-left: 4rem; */
  text-transform: uppercase;
  font-family: var(--font-base);

  /* background-color: #3e5ce0; */
}
.app__logo h4:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -55px;
  width: 55px;
  height: 2.5px;
  background-color: black;
}

.app__navBar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link {
  font-size: 1rem;
  font-family: var(--font-base);
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 1.5rem 0;
  transition: all 0.4s ease;
}
.show-links {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}
.link:hover .show-links {
  display: block;
}
.link:hover {
  color: var(--color-secondary);
  border-top: 2px solid var(--color-secondary);
}

.app__navBar-profile {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__navBar-profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.app__navBar-profile h4 {
  font-size: 12px;
}
.burger-menu {
  display: none;
}
.wrapper-links {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: 100;
  padding: 2rem;
  overflow: hidden;
  transition: all 0.5s ease;
  background-color: var(--color-secondary);
}
.wrapper-links.show-menu {
  top: 0;
}
.wrapper-links .smallScreen-links {
  display: flex;
  flex-direction: column;
}
.smallScreen-links .title {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: var(--font-alt);
  color: white;
  text-decoration: none;
  padding: 0.6rem 0;
}
.smallScreen-links .link {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: var(--font-alt);
  color: #efefefc4;
  margin-left: 1rem;
  padding: 0.4rem 0;
}
.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 1200px) {
  .app__navBar {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 900px) {
  .app__navBar {
    padding: 0 2rem;
  }
  .bigScreen,
  .app__navBar-profile {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .app__navBar-profile img {
    width: 50px;
    height: 50px;
  }

  .app__logo h4:nth-of-type(2) {
    font-size: 1.3rem;
  }
  .app__logo h4:nth-of-type(2)::after {
    left: -73px;
    width: 70px;
  }
}
@media screen and (max-width: 550px) {
  .app__navBar {
    height: 70px;
  }
  .app__logo h4:nth-of-type(1) {
    font-size: 0.5rem;
  }
  .app__logo h4:nth-of-type(2) {
    font-size: 0.8rem;
  }
  .app__logo h4:nth-of-type(2)::after {
    left: -43px;
    width: 40px;
    top: 2px;
  }
}
