.app__header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-secondary);
  color: var(--color-white);
  padding: 0 6rem;
  z-index: 3;
}
.app__header h2 span {
  color: #f55951;
}
.app__navbar {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: #f55951; */
}
.app__navbar ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-link {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.navbar-link:hover {
  color: #f55951;
}
.linkActive {
  border-bottom: 1px solid #f55951;
  color: #f55951;
}
.user-profile {
  position: relative;
}
.user-icon {
  color: #f55951;
  cursor: pointer;
}
.user-container {
  width: 250px;
  height: auto;
  position: absolute;
  top: 150%;
  left: -100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #efefef;
  padding: 0.5rem;
}
.user-container-section {
  border: 1px solid #000;
  padding: 0.5rem;
}
.user-container-section h2 {
  text-align: center;
  color: #f55951;
  font-size: 18px;
}
.user-container-section p {
  /* text-align: center; */
  color: #000;
  text-transform: none;
  font-size: 14px;
  text-align: start;
  margin-top: 0.5rem;
}
