.app__cancelApp {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}
.app__cancelApp-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 0.5rem;
  margin-top: 2rem;
  color: white;
  background: var(--color-primary);
}
.app__cancelApp-header button {
  margin-top: 0 !important;
}
.wrapper-input {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;
}
.wrapper-input {
  width: 170px;
  height: 30px;
}
.input-options {
  width: 150px !important;
  height: 30px;
}

.wrapper-input label {
  margin-right: 2rem;
}

.app__cancelApp-tables {
  width: 100%;
  min-height: 70vh;
  /* background-color: bisque; */
  display: flex;
  gap: 3%;
}

.app__cancelApp-tables-infos {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.app__cancelApp-tables-infos .appScheduling-table {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.app__cancelApp-tables-calendar {
  width: 37%;
  height: 100%;
  background-color: rgb(255, 0, 0);
}

.search-container {
  width: 95%;
  height: 150px;
  margin: 0 auto 4rem auto;
  border-radius: 10px;
  background-color: var(--color-primary);
  /* background-color: blanchedalmond; */
}
.search-container .container-inputs {
  width: 95%;
  height: 150px;
  margin: 0 auto;
  border-radius: 10px;
  align-items: center;
}
