.app__reset {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__reset-wrapper {
  width: 60%;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #efefef;
  border-radius: 7px;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.app__reset-img {
  flex: 1;
  height: 250px;
}
.app__reset-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* width: 300px; */
}
.app__reset-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}
.rest-btn {
  width: 150px;
  margin-top: 1rem;
  padding: 0.7rem 0;
  background-color: #33a7be;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}
.rest-btn:hover {
  border-radius: 3px;
}
.app__reset-container h2 {
  text-align: center;
  color: #f55951;
}
.app__reset-container input {
  height: 35px !important;
  padding: 0 0.5rem;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  margin: 0.3rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}

.app__reset-container {
  flex: 1;
  padding: 4rem;
}

.links {
  display: flex;
  justify-content: space-between;
}
