.app__dashboard {
  width: 100%;
  height: auto;
  padding-top: 2rem;
}
.app__dashboard-container {
  width: 96%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
  gap: 1rem;
}
.app__dashboard-container-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.container-header {
  height: 100px;
  width: 290px;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}
.container-header h4 {
  text-transform: uppercase;
  font-weight: 900;
}
.container-header div {
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between;
}

.container-header div p {
  font-weight: 900;
  font-size: 20px;
  font-weight: 900;
}

.content-one {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.content-two {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 0.719) 50%,
    rgb(69, 179, 252) 100%
  );
}
.content-three {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    305deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 41%,
    rgba(79, 180, 169, 1) 100%
  );
}
.content-four {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    339deg,
    rgba(63, 94, 251, 1) 40%,
    rgba(252, 70, 107, 1) 97%,
    rgba(79, 180, 169, 1) 100%
  );
}
.app__dashboard-container_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
}
.app__dashboard-container-left {
  width: 66%;
  /* background-color: rgb(127, 255, 217); */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-left_box {
  width: 100%;
  height: auto;
  /* background-color: rgb(255, 200, 127); */
  display: flex;
  gap: 2rem;
  /* flex-direction: column; */
}
.container-left_box .container_content {
  flex: 1;
}
.container_content {
  /* flex: 1; */
  /* width: 200px; */
  min-height: 300px !important;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  /* display: flex; */
}
.container_content-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-bottom: 2px solid #0000004d;
}
.container_content-header h4 {
  font-size: 1.23rem;
  font-weight: 600;
  text-transform: capitalize;
}
.chart-container,
.char {
  width: 300px;
  height: 200px;
}
.app__dashboard-container-right {
  width: 32%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: red; */
}
.header-infos {
  /* display: flex; */
  justify-content: space-between;
  padding-right: 1rem;
}
.header-infos span {
  width: 69px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: var(--color-primary);
  border-radius: 15px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  color: white;
}
.content-details {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0.2rem 1rem;
  align-items: center;
  gap: 1rem;
}
.content-details-img {
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}
.content-details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
