.app__header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 0 9rem;
  background: var(--color-secondary);
  color: white;
}
.app__header button {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}
