.app__scheduling {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  margin: 0 !important;
  background: rgb(29, 26, 69);
  background: linear-gradient(
    41deg,
    rgba(29, 26, 69, 1) 0%,
    rgba(19, 93, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-bottom: 2rem;
}
.app__scheduling-container {
  width: 90%;
  height: auto;
  background-color: #efefef;
  margin: 0 auto !important;
  padding: 2rem;
}
.app__scheduling-container h2 {
  text-align: center;
  font-size: 2rem;
  padding-block: 2rem;
  color: var(--color-blue);
  text-transform: uppercase;
}
.app__scheduling-container form {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  /* background: red; */
}
.form-left-box {
  width: 80%;
  height: auto;
  padding: 1rem;
  border-radius: 7px;
  border: 2px solid #00000056;
}
.input-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aquamarine; */
  display: flex;
  margin-right: 6rem;
  margin-bottom: 0.5rem;

  /* justify-content: space-between !important; */
}
.input-fields input {
  width: 300px;
}
.app__scheduling .input-field {
  margin-right: 2rem !important;
  /* background-color: red; */
}

.doctor-types div {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background: rebeccapurple; */
}
.btn-seeAll {
  width: 80px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
input[type="time"] {
  /* width: 300px; */
  /* justify-self: flex-end; */
  /* background-color: rgb(242, 255, 127); */
}

.app__scheduling aside {
  width: 20%;
  border: 2px solid #00000056;
  padding: 1rem;
  border-radius: 7px;
  flex-direction: column;
}
.days-divider {
  width: 40%;
  height: 2px;
  background-color: #00000034;
}

.app__scheduling .container-menu {
  background: none !important;
  /* padding: 0 !important;
  margin: 0 !important; */
}
