.btnAction button {
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #33a7be;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.btnAction button p {
  text-transform: capitalize;
  color: #000;
  font-size: 13px;
}
