* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: rgb(29, 26, 69);
  background: linear-gradient(
    41deg,
    rgba(29, 26, 69, 1) 0%,
    rgba(19, 93, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif !important;
}
li {
  list-style-type: none;
}

/* btn for the login & register */
.btn--primary {
  margin-top: 1rem;
  padding: 0.7rem 0;
  background-color: #33a7be;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.btn--primary:hover {
  border-radius: 3px;
}

.page-title {
  font-size: 2rem;
  text-align: center;
  position: relative;

  font-family: var(--font-title) !important;
}

.page-title::after {
  content: "";
  width: 150px;
  height: 4px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
}

.appScheduling-wrapper {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.5s ease;
  z-index: 22;
  background: rgb(29, 26, 69);
  background: linear-gradient(
    41deg,
    rgba(29, 26, 69, 1) 0%,
    rgba(19, 93, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  overflow: hidden;
}
.appScheduling-wrapper.ActiveScheduling {
  transform: scale(1);
}

.admin-category {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  background-color: #efefef;
  padding: 0.5rem;
  text-decoration: none;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  font-size: 15px;
  font-weight: 600;
  color: #000;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 18px;
  font-family: var(--font-title) !important;
}
.admin-category:hover {
  transform: translateY(-5px);
  background-color: var(--color-primary);
  color: white;
}
.box-input-radio {
  font-size: 1.2rem !important;
  height: 30px !important;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  /* justify-content: flex-start !important; */
  /* width: fit-content !important; */
}
.input-radio {
  font-size: 2rem !important;
  height: 30px !important;
  width: 30px !important;
  margin: 0 !important;
  /* width: fit-content !important; */
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup {
  background: rgb(29, 26, 69);
  background: linear-gradient(
    41deg,
    rgba(29, 26, 69, 1) 0%,
    rgba(19, 93, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 0 2rem;
  max-width: 100vw;
  max-height: 100%;
  overflow-x: hidden;
  /* overflow-y: auto;  */
}

/* .activeLink {
  background-color: var(--color-primary);
  color: white;
} */
