.roomDetails {
  width: 100%;
  height: auto;
  padding: 2rem;
  overflow: hidden;
}
.roomDetails .roomDetails-container {
  width: 98%;
  height: auto;
  margin: 0 auto;
  /* margin: 90px auto 0; */
  /* padding: 2rem; */
  /* background-color: #da5757; */
}
.roomDetails .roomDetails-container h2 {
  font-size: 2rem;
  text-align: center;
  position: relative;
  /* width: fit-content; */
}
.roomDetails .roomDetails-container h2::after {
  content: "";
  width: 150px;
  height: 4px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
}
.roomDetails .roomDetails-container form {
  width: 100%;
  height: auto;
  background: #efefef;
  margin-top: 4rem;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.roomDetails .input-fields {
  padding-left: 3rem;
}
.roomDetails-container-menus {
  width: 100%;
  background-color: #efefef;
  margin: 2rem auto 0 auto;
  padding: 1rem 0 1rem 0;
  border-radius: 10px;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.roomDetails-container-menus .roomDetails-container-menu-header {
  width: 91%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--color-primary);
  border-top: 2px solid #ffffffbd;
  border-bottom: 2px solid #ffffffbd;
  border-radius: 15px;
  margin: 2rem auto 0 auto;
}

.container-menu-btn {
  position: relative;
  width: 71%;
  display: flex;
  justify-content: center;
  gap: 1rem !important;
  flex-wrap: wrap;
  margin: 2rem auto;
  border: 2px solid #ffffffbd;
  padding: 2rem;
  border-radius: 25px;
  background-color: var(--color-primary);
}

.appScheduling-wrapper {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.5s ease;
  z-index: 22;
  /* background: rgb(54, 153, 51); */
  overflow: hidden;
}
.appScheduling-wrapper.ActiveScheduling {
  transform: scale(1);
}
