.appScheduling {
  /* margin: 90px auto 0 auto; */
  width: 100%;
  margin-top: 2rem;
}

.appScheduling-container {
  width: 95%;
  margin: auto;
  background: #efefef;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 4rem;

  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.appScheduling-container form {
  display: flex;
  flex-direction: column;
}
.appScheduling-table {
  width: 98%;
  height: auto;
  margin: 2rem auto;
  background-color: aliceblue;
}
.appScheduling-table table {
  width: 100%;
  border: 1px solid #000;
}
.appScheduling-table table th {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem 0;
  background: var(--color-primary);
  white-space: nowrap;
  overflow: hidden;
}
.appScheduling-table thead th {
  color: #efefef;
}
.doctor-infos td {
  height: 35px;
  max-width: 100px;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  border-right: solid 1px #66666671;
  border-bottom: solid 1px #66666671;
  text-align: center;
}

.appScheduling .appScheduling-container-menus {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 1.3rem auto;
  background: #efefef;
  border-radius: 10px;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.appScheduling-container-menus .appSchedule-container-menu-header {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--color-primary);
  border-top: 2px solid #ffffffbd;
  border-bottom: 2px solid #ffffffbd;
  border-radius: 15px;
}

.appScheduling-container-menus .container-menu-btn {
  position: relative;
  width: 71%;
  display: flex;
  justify-content: center;
  gap: 1rem !important;
  flex-wrap: wrap;
  margin: 2rem auto;
  border: 2px solid #ffffffbd;
  padding: 2rem;
  border-radius: 25px;
  background-color: var(--color-primary);
}
