.app__medicalServices {
  width: 100%;
  height: auto;
  background-color: #efefef;
}
.app__medicalServices-container {
  width: 100%;

  margin: 0 auto;
  padding: 2rem;
  background-color: #efefef;
}
.container-field {
  width: 90%;
  /* border: 2px solid var(--color-primary); */
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem auto;
  gap: 2rem;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.input-field {
  margin: 0.5rem 0;
  /* margin: 1rem 0; */
}
.input-field input {
  width: 300px;
  height: 35px;
}
.container-menu {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0;
  margin: 1.3rem auto;
  border-radius: 10px;
  padding: 2rem;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}
.container-menu-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--color-primary);
  border-top: 2px solid #ffffffbd;
  border-bottom: 2px solid #ffffffbd;
  border-radius: 5px;
}

.container-menu-header input {
  width: 60%;
  height: 40px;
  padding: 0.5rem;
  text-align: center;
}
.container-menu-btn {
  width: 71%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  border: 2px solid #ffffffbd;
  padding: 2rem;
  border-radius: 25px;
  background-color: var(--color-primary);
}
