.app__home {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden !important;
  background-color: var(--color-secondary);
}

.app__home-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home__wrapper {
  width: 100%;
  height: 100%;
  padding: 4rem 0 0 4rem;
  display: flex;
}
.title-primary {
  color: #f9dcc5;
  font-family: var(--font-base);
  font-size: 7vw;
}
.title-second {
  font-size: 7vw;
  color: transparent;
  font-family: var(--font-base);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #f9dcc5;
  text-transform: uppercase;
}
.container-image {
  flex: 1;
  position: relative;
}
.container-image img {
  width: 70%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

.app__slidingText {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.app__slidingText-container {
  width: auto;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.sliding-content {
  display: flex;
  animation: move 15s linear infinite;
  color: #000;
  padding: 1rem 0;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sliding-content span {
  font-size: 3rem;
  white-space: nowrap;
  font-family: var(--font-base);
  color: #f9dcc5;
  text-transform: uppercase;
}
@media screen and (min-width: 2000px) {
  .sliding-content span {
    font-size: 8rem;
  }
}
@media screen and (max-width: 1200px) {
  .sliding-content span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .sliding-content span {
    font-size: 4rem;
  }
  .home__wrapper {
    padding: 4rem 0 0 2rem;
  }
}
@media screen and (max-width: 550px) {
  .sliding-content span {
    font-size: 2rem;
  }
  .app__home-container {
    height: calc(100vh - 105px);
  }
  .home__wrapper {
    height: 100%;
    flex-direction: column;
    /* background: yellow; */
    justify-content: center;
    padding: 0rem 2rem 0 2rem;
  }
  .title-primary,
  .title-second {
    font-size: 9.2vw;
    align-self: center;
    justify-self: center;
    padding-bottom: 0.5rem;
  }
  .container-text {
    margin-bottom: 2rem;
  }
  .container-image {
    flex: initial;
    position: static;
  }
}
