.app__welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.app__welcome h2 {
  font-family: var(--font-base);
  font-size: 5vw;
  z-index: 2;
  text-align: center;
 
  color: white;
}

