.app__doctorMenu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0;
  background-color: #efefef;
  margin: 1.3rem auto;
}
.app__doctorMenu-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 2rem;
  border-top: 2px solid #00000034;
  border-bottom: 2px solid #00000034;
  background-color: var(--color-primary);
  border-radius: 7px;
}

.app__doctorMenu-header input {
  width: 60%;
  height: 40px;
  padding: 0.5rem;
  text-align: center;
}
.app__doctorMenu-container {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin: 2rem auto 0;
  padding: 2rem;
  border-top: 2px solid #00000034;
  border-bottom: 2px solid #00000034;
  background-color: var(--color-primary);
  border-radius: 25px;
}
