.schedule-container-infos {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}
.container-display-infos {
  display: flex;
  gap: 2rem;
}
.input-record {
  width: 98% !important;
  margin: 0 auto;
}
.container-btn-menus-actions {
  width: 100%;
  display: flex;
}
.container-btn-menus-actions .appScheduling-container-menus {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  /* background: red; */
}
.wrapper-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-wrapper {
  margin-inline: 1rem !important;
}
.action-options-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  /* width: 20%; */
  height: auto;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 15px;
  border: 2px solid #ffffff98;
}
.action-options-wrapper label {
  color: white;
}
.btn-action-box {
  margin-top: 1rem;
  align-self: center;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup {
  background: rgb(29, 26, 69);
  background: linear-gradient(
    41deg,
    rgba(29, 26, 69, 1) 0%,
    rgba(19, 93, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  /* padding: 0 2rem; */
  max-width: 100vw;
  max-height: 100%;
  overflow-x: hidden;
  /* overflow-y: auto;  */
}
