.app__scheduling {
  width: 95vw;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  z-index: 10;
  background-color: var(--color-bg);
  /* padding-top: 2rem; */
}
.app__scheduling-container {
  width: 98%;
  height: auto;
  background-color: #efefef;
  margin: 0 auto !important;
  padding-inline: 2rem;
  position: relative;
}
.app__scheduling-container h2 {
  text-align: center;
  font-size: 2rem;
  padding-block: 2rem;
  color: var(--color-blue);
  text-transform: uppercase;
}
.app__scheduling-container form {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.form-left-box {
  width: 80%;
  height: auto;
  padding: 1rem;
  border-radius: 7px;
  border: 2px solid #00000056;
}
.input-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-right: 6rem;
  margin-bottom: 0.5rem;
}
.input-fields input {
  width: 300px;
}
.app__scheduling .input-field {
  margin-right: 2rem !important;
}

.doctor-types div {
  /* height: 80px; */
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.doctor-types select {
  width: 300px;
  height: 37px;
  font-size: 17px;
}
.btn-seeAll {
  width: 80px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.app__scheduling aside {
  width: 20%;
  border: 2px solid #00000056;
  padding: 1rem;
  border-radius: 7px;
  flex-direction: column;
}
.days-divider {
  width: 40%;
  height: 2px;
  background-color: #00000034;
}

.app__scheduling .container-menu {
  background: none !important;
}

.schedule-delete-popup {
  width: 350px;
  height: 200px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1rem;
  -webkit-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 17px 13px 29px 0px rgba(0, 0, 0, 0.42);
}

.schedule-delete-popup p {
  font-size: 20px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1.2px;
  margin-top: 2rem;
}
.delete-buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.delete-buttons button {
  width: 70px;
  border: none;
  border-radius: 7px;
}
.delete-buttons button:nth-of-type(1) {
  background-color: var(--color-primary);
}
.delete-buttons button:nth-of-type(2) {
  background-color: red;
}

.submit-btn {
  width: 100px;
  border-radius: 7px;
  border: none;
  background-color: var(--color-primary);
  font-weight: 600;
}
.delete-btn {
  width: 100px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: red;

  font-weight: 600;
}
.appScheduling-table-id {
  width: 95%;
  height: auto;
  min-height: 100vh;
  background-color: #efefef;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  transition: all 0.5s ease;
}
.appScheduling-table-id h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}
.close-tableID {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rebeccapurple; */
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.select-doctorID {
  cursor: pointer;
}
.select-doctorID:hover {
  background: var(--color-tertial);
}
.input-field-days {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-field-days div {
  width: 40px;
}
