.app__AdminDashboard {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.app__AdminDashboard-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.app__AdminDashboard-container_nav {
  position: fixed;
  width: 250px;
  max-height: 100vh;
  left: 0;
  overflow-y: auto;
}

.app__AdminDashboard-wrapper {
  width: 250px;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.container_nav-links {
  width: 100%;
  height: auto;
  max-width: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 6rem 0;
}

.app__AdminDashboard-container_wrapper {
  width: calc(100vw - 280px);
  margin-left: 2rem;
  height: 100%;
  background-color: var(--color-bg);
}

.activeSection {
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: var(--color-primary);
  color: white;
  font-family: var(--font-title) !important;
  font-size: 18px;
}
.activeLink {
  color: var(--color-primary);
  font-weight: 900;
}
