.schedule-container {
  padding: 0 !important;
}
.schedule-container h2 {
  padding: 0 !important;
  margin-bottom: 2rem;
}

.container-more-infos {
  width: 100%;
  /* background-color: red; */
}
.container {
  width: 100%;

  display: flex;
  gap: 3rem;
  border: 2px solid #000000a8;
  border-radius: 10px;
  padding: 1rem;
  /* background-color: aquamarine; */
}
.container-wrapper {
  flex: 1;
  /* background-color: bisque; */
}
.container-wrapper .input-fields {
  margin-right: 0 !important;
}
