* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.displayFlex {
  display: flex;
  align-items: center;
  /* gap: ; */
}
.container {
  width: 100%;
  height: calc(100vh - 100px);
  /* background-color: red; */
}

.section-padding {
  padding: 4rem 6rem;
}

.page-title {
  font-size: 2rem;
  font-family: var(--font-base);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
