.app__navBar {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  background: var(--color-lightWhite);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.app__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__logo h4 {
  font-size: 1rem;
}
.app__logo-image {
  width: 90px;
  height: 90px;
}
.app__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.app__navBar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link {
  font-size: 1.5rem;
  font-family: var(--font-alt);
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 1.5rem 0;
  transition: all 0.4s ease;
}
.show-links {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}
.link:hover .show-links {
  display: block;
}
.link:hover {
  border-top: 2px solid #3e5ce0;
}

.app__navBar-profile {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__navBar-profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.app__navBar-profile h4 {
  font-size: 12px;
}
