.app__navBar {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background: var(--color-lightWhite);
  background-color: yellow;
  position: relative;
}
.app__logo {
  width: 110px;
  height: 110px;
}
.app__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.app__navBar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link {
  font-size: 1.7rem;
  font-family: var(--font-alt);
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 1.5rem 0;
  transition: all 0.4s ease;
}
.show-links {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.link:hover .show-links {
  display: block;
}
.link:hover {
  border-top: 2px solid #3e5ce0;
}

.app__navBar-profile {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__navBar-profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.app__navBar-profile h4 {
  font-size: 12px;
}
