.app__dDetails {
  width: 70%;
  height: auto;
  padding: 2rem;
  margin: 0 auto;
  background-color: aqua;
}
h1 {
  text-align: center;
}
.app__dDetails-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details-section-one,
.details-section-three {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.section-two-content {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}
.container-one,
.container-two {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.divider {
  width: 80%;
  height: 2px;
  background-color: #ffffffa8;
}
