.app__addAppointment {
  width: 98vw;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  z-index: 10;
  /* margin: 0 auto !important; */
  background-color: var(--color-bg);
  padding-top: 2rem;
}
.app__addAppointment-container {
  width: 98%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin: 2rem auto;
}
.btn-docSchedule {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  border-radius: 7px;
}

.container-view-appoint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 700px;
  /* flex: 1; */
  /* background-color: aqua; */
  padding: 1rem 0 2rem 0;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 2rem;
}
.appointment-form {
  padding: 1rem 1rem 2rem 1rem;
}

.custom-input-field {
  margin-right: 6rem;
}
.table-view-app {
  width: 97%;
  height: auto;
  max-height: 460px;
  margin: 0 auto;
  border: 2px solid #000;

  /* background-color: blanchedalmond; */
  text-align: center;
}
.table-view-app th {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1rem 0;
  background: var(--color-primary);
  white-space: nowrap;
  overflow: hidden;
}
.table-view-app th {
  color: #efefef;
}

.table-view-app tbody td {
  height: 35px;
  max-width: 100px;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  border-right: solid 1px #66666671;
  border-bottom: solid 1px #66666671;
  text-align: center;
}

.container-view-appoint-btn {
  /* justify-self: end; */
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  margin: 0 auto;
  border-radius: 15px;
  background-color: var(--color-primary);
}
