.app__welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: rgb(76, 74, 73); */
  /* background: linear-gradient(
    355deg,
    rgba(76, 74, 73, 1) 0%,
    rgba(221, 214, 211, 1) 100%
  ); */
  background: url("../assets/images/UOB.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.app__welcome h2 {
  font-family: var(--font-base);
  font-size: 5vw;
  z-index: 2;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  /* background-color: rgba(255, 255, 255, 0.26); */
  background: #f8f9fc25;
}
