/* .button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;

  border-radius: 15px;
} */

.button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(173, 216, 230, 0.5)
  );
  background: black;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: var(--font-alt);
  font-weight: 600;
  z-index: 2;
}

.button:hover {
  background: linear-gradient(
    135deg,
    rgba(92, 83, 83, 0.7),
    rgba(27, 95, 117, 0.7)
  );
}
